<div class="col-md-12 px-0">
  <div>
    <nb-card accent="info">
      <nb-card-header>Monte sua refeição!</nb-card-header>
      <nb-card-body>
        Selecione os alimentos e respectivas quantidades para gerar sua refeição
      </nb-card-body>

      <div class="d-flex select-food-area">
        <div class="select-food-area__search">
          <input #autoInput
                 class="w-100"
                 nbInput
                 type="text"
                 (input)="onChange()"
                 placeholder="Pesquise pelo alimento"
                 [nbAutocomplete]="auto"/>

          <nb-autocomplete #auto (selectedChange)="onSelectionChange($event)">
            <nb-option *ngFor="let option of filteredFoods$ | async" [value]="option">
              {{ option.name }}
            </nb-option>
          </nb-autocomplete>
        </div>

        <input nbInput
               [disabled]="!selectedFood"
               type="number"
               [(ngModel)]="selectedGrams"
               placeholder="Quantidade (gramas)"/>

        <button [disabled]="!selectedGrams || !selectedFood"
                nbButton
                status="success"
                (click)="addFood()"
                outline>Adicionar alimento
        </button>
      </div>
    </nb-card>
  </div>


  <nb-card [nbSpinner]="false">
    <nb-card-header>
      Alimentos para a refeição
    </nb-card-header>
    <nb-card-body>
      <strong *ngIf="!foodsList.length">Selecione pelo menos um alimento</strong>

      <nb-list>
        <nb-list-item *ngFor="let food of foodsList">
          <p class="item-label">{{ food.food.name }} - {{ food.grams }}g</p>

          <button nbButton
                  status="danger"
                  (click)="removeFood(food.food.id)"
                  outline>Remover alimento
          </button>
        </nb-list-item>
      </nb-list>

      <button class="mt-2" [disabled]="!foodsList.length" nbButton status="success" (click)="onSubmit()">Terminar
        refeição
      </button>
    </nb-card-body>
  </nb-card>

  <nb-card [nbSpinner]="false">
    <nb-card-header>
      Relatório da refeição
    </nb-card-header>
    <nb-card-body>
      <ng-container *ngIf="report.kcal !== ''; else empty">
        <strong>Você consumiu:</strong>
        <nb-list>
          <nb-list-item>{{ report.carb }}g de carboidratos</nb-list-item>
          <nb-list-item>{{ report.protein }}g de proteínas</nb-list-item>
          <nb-list-item>{{ report.fat }}g de gorduras</nb-list-item>
          <nb-list-item>Total de {{ report.kcal }} calorias.</nb-list-item>
        </nb-list>
      </ng-container>

      <ng-template #empty>
        <strong>Você ainda não realizou o cálculo total da refeição</strong>
      </ng-template>
    </nb-card-body>

  </nb-card>
</div>
